<template>
    <div class="webapp__menu">
        <nav class="webapp__nav">
            <div v-for="(category, index) in categories"
                 :key="category.uid"
                 @click="isMobile ? scrollTo(`cat_${index}`) : selectCategory(index)"
                 :class="{ 'webapp_menuItem-selected': index === ((isMobile || (hasSlot && !clickedMenu)) ? false : selected) }"
                 class="webapp_menuItem">
                <div class="webapp__menu-img-container">
                    <div class="webapp__menu-img"
                         v-lazy:background-image="`/fileadmin/images/${category.image}`"></div>
                </div>
                <div class="webapp__menu-link">
                    {{ category.title }}
                </div>
            </div>
            <div class="webapp__nav-infotext">Zahlen von {{ currentyear }}</div>
            <div v-if="!noHeader" class="webapp__nav-footer">
                <a href="/impressum">Impressum</a>
                <a href="/datenschutz">Datenschutz</a>
            </div>
        </nav>
    </div>
</template>

<script>
    import isMobile from "../../mixins/isMobile";
    export default {
        name: 'MainMenu',
        mixins: [ isMobile ],
        data: () => ({
            clickedMenu: false,
        }),
        props: {
            categories: Array,
            selected: Number,
            hasSlot: Boolean,
            currentyear: Number,
            root: Boolean,
        },
        methods: {
            selectCategory(index){
                this.clickedMenu = true
                this.$myBus.$emit('::selectedCategory::', index)
                this.$emit("closeMobileMenu")
            },
            scrollTo(id){
                if(this.hasSlot && !this.root){
                    console.log("xxxxxxxx", this.root)
                    window.location.href = `./#${id}`
                }else{
                    this.$myBus.$emit('::scrollTo::', id)
                    this.$emit("closeMobileMenu")
                }
            }
        },
        computed: {
            noHeader: ()=>  window.noHeader
        }
    }
</script>

<style lang="scss">

    .webapp__menu{
        display: flex;
        flex-direction: row-reverse;

        .webapp__nav{
            width: 100%;
            max-width: 480px;
        }

        .webapp_menuItem{
            display: flex;
            height: 70px;
            width: 100%;
            margin-bottom: 5px;
            cursor: pointer;


            .webapp__menu-img-container{
                overflow: hidden;
                width: 40%;
                min-width: 65px;
                height: 100%;
                transition: all 0.8s;
            }

            .webapp__menu-img{
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

                &[lazy=loading] {
                    background-size: 20px;
                }
            }

            .webapp__menu-link{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                padding: 0 10px;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 17px;
                margin-left: 5px;
                border: 1px solid #a12d4e;
                color: #a12d4e;
                transition: all 0.25s;
            }

            &:hover{

                .webapp__menu-img{
                    transform: scale(1.4);
                }

                .webapp__menu-link{
                    margin-left: 0;
                    border-left-width: 5px;
                    background-color: #e5e5e5;
                }
            }
        }

        .webapp_menuItem-selected{

            .webapp__menu-link{
                background-color: #a12d4e;
                color: white;
            }

            &:hover{
                .webapp__menu-link{
                    background-color: #a12d4e;
                }
            }
        }

        .webapp__nav-footer{
            text-align: center;
            font-size: 13px;
            margin: 20px 10px 10px;

            a{
                color: #353535;
                text-decoration: none;
                margin: 0 5px;
            }
        }

        .webapp__nav-infotext{
            width: 100%;
            text-align: center;
            font-size: 13px;
            margin-top: 15px;
            opacity: 0.7;
        }

        @media screen and (max-width: 1200px) {
            .webapp_menuItem{

                .webapp__menu-img-container{
                    display: none;
                }
            }
        }
    }
</style>