//@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

@font-face {
  src:  url("../fonts/Roboto-100.woff2") format("woff2");
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  src:  url("../fonts/Roboto-400.woff2") format("woff2");
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  src: url("../fonts/Roboto-700.woff2") format("woff2");
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}



#webApp{
  font-family: 'Roboto', sans-serif;
}