<template>
    <div class="webapp__category">
        <div class="webapp__category-left" v-if="!ceHeadline">
            <div class="webapp__category-title">{{ content.category.title }}</div>
            <div class="webapp__category-items">
                <categoryItem v-for="item in content.items"
                              :item="item"
                              :currentyear="currentyear"
                              :selected="selectedItem ? selectedItem.uid : 0"
                              @clickItem="clickItem"/>
            </div>
        </div>
        <div class="webapp__category-right" :class="{ 'webapp__category-ce' : ceHeadline}">
            <div class="webapp__category-info">
                <div class="webapp__category-info-numbers">{{ getCurrentNumber || ceHeadline}}</div>
                <div class="webapp__category-info-keyword">{{ selectedItem.headline || ceSubheadline }}</div>
                <div v-html="selectedItem.text || ceBodytext" class="webapp__category-info-text" />
                <div class="webapp__category-info-url" v-if="selectedItem.linktext && selectedItem.url">
                    <i class="fas fa-external-link-alt"></i> <a :href="selectedItem.url" target="_blank">{{ selectedItem.linktext }}</a>
                </div>
                <div class="webapp__category-info-more" v-if="getNumbersList.length">
                    <div @click="showMore = !showMore" style="cursor:pointer">
                        <i class="fa-solid fa-chart-column"></i> Vorjahreszahlen
                    </div>

                    <div v-if="showMore" class="webapp__category-info-more-container">
                        <div v-for="item in getNumbersList">
                            <strong>{{ item.year }}:</strong> {{ item.number}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="webapp__category-image" v-lazy:background-image="`${image}`" />
        </div>
    </div>
</template>

<script>

import categoryItem from "../categoryDetails/categoryItem";

export default {
    name: 'categoryInNumbers',
    components: {
        categoryItem
    },
    data: () => ({
        selectedItemUid: null,
        showMore: false,
    }),
    props: {
        content: Object,
        currentyear: Number,
        ceHeadline: String,
        ceSubheadline: String,
        ceBodytext: String,
        ceImage: String,
    },
    mounted(){
        this.start()
    },
    computed: {
        selectedItem(){
            this.showMore = false
            let uid = this.selectedItemUid
            return uid ? this.content.items.find(item=>item.uid===uid) :
                (this.content && this.content.items.length) ? this.content.items[0] : false
        },
        image(){
            return this.content ? `/fileadmin/images/${this.selectedItem ? this.selectedItem.image : this.content.category.image}` : this.ceImage
        },
        getCurrentNumber(){
            let numbers = this.selectedItem.numbers
            return numbers && typeof numbers === 'object' ? numbers[this.currentyear] : numbers
        },
        getNumbersList(){
            let numbers = this.selectedItem.numbers
            let list = []

            if(numbers && typeof numbers === 'object'){
                let n = this.currentyear - 3
                while (n <= this.currentyear - 1) {
                    if(numbers[n] ){
                        list.push({
                            year: n,
                            number: numbers[n]
                        })
                    }
                    n++
                }
            }
            return list
        }
    },
    methods: {
        start(){
            if(!this.ceHeadline){
                this.selectedItemUid = null
                this.$myBus.$emit('::overrideBGimage::', false)
                document.getElementById('webApp').scrollIntoView({ behavior: 'smooth', block: 'start' });
            }
        },
        clickItem(uid){
            this.selectedItemUid = uid
        }
    },
    watch: {
        content(){
            this.start()
        }
    }
}
</script>

<style lang="scss">

    .webapp__category {
        padding-top: $mainContentTop;
        padding-bottom: 200px;
        height: 100%;
        display: flex;
        position: relative;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
        background-image: linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0.70) 50%);

        .webapp__category-left{
            width: calc(34% - 30px);
            padding: 0 10px 0 30px;

            .webapp__category-title{
                font-weight: bold;
                font-size: 27px;
                color: #a12d4e;
                text-transform: uppercase;
                width: 100%;
                text-align: center;
                margin-bottom: 20px;
            }

            .webapp__category-items{
                display: flex;
                flex-wrap: wrap;
            }
        }

        .webapp__category-right{
            width: calc(66% + 30px);
            min-width: 430px;
            padding: 10px 0 0 30px;
            overflow: hidden;

            .webapp__category-image{
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                max-width: 620px;
                height: 480px;
                margin: 120px 20px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.30);

                &[lazy=loading], &[lazy=error] {
                    background-size: 40px;
                }
                &[lazy=loaded] {
                    background-size: cover;
                }
            }

            .webapp__category-info{
                position: absolute;
                width: 50%;
                max-width: 300px;
                padding: 10px;
                background-color: rgba(161, 45, 78, 0.80);
                color: white;
                box-shadow: 0 0 17px rgba(0, 0, 0, 0.45);
                min-height: 150px;
                transition: all 0.8s;

                &:hover{
                    background-color: rgba(161, 45, 78, 1);
                }

                .webapp__category-info-numbers{
                    font-size: 27px;
                    font-weight: bold;
                }
                .webapp__category-info-keyword{
                    font-size: 19px;
                    font-weight: bold;
                }
                .webapp__category-info-text{
                    margin-top: 15px;
                    font-size: 14px;
                }

                .webapp__category-info-url{
                    margin-top: 10px;
                    font-size: 14px;

                    a{
                        text-decoration: none;
                        color: white;
                        padding-left: 3px;
                    }
                }

                i{
                    margin-right: 3px;
                }

                .webapp__category-info-more{
                    margin-top: 15px;
                    border-top: 1px solid white;
                    padding-top: 10px;

                    .webapp__category-info-more-container{
                        margin-top: 5px;
                        font-size: 14px;

                        > div {
                            padding: 5px 23px;

                            strong{
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }

            &.webapp__category-ce{
                padding: 0;
                width: 100%;
                margin-left: 30px;

                .webapp__category-info{
                    max-width: unset;
                }
                .webapp__category-image{
                    margin: 200px auto;
                }
            }
        }

        @media screen and (min-width: 1850px) {
            &:after{
                position: absolute;
                display: block;
                content: ' ';
                width: 100px;
                height: 100%;
                right: 0;
                top: 0;
                background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 100%);
            }
        }
    }
</style>