<template>
    <div class="webapp__categoryitem"
         :class="{ 'webapp__categoryitem-selected': selected === item.uid }"
         @click="$emit('clickItem', item.uid)">
        <strong>{{ getCurrentNumber }}</strong> {{ item.headline }}
    </div>
</template>

<script>

export default {
    name: 'categoryItem',
    data(){
        return {}
    },
    props: {
        item: Object,
        selected: Number,
        currentyear: Number,
    },
    computed: {
        getCurrentNumber(){
            let numbers = this.item.numbers
            return numbers && typeof numbers === 'object' ? numbers[this.currentyear] : numbers
        }
    }
}
</script>

<style lang="scss">

    .webapp__mobile_preload-img{
        width: 1px;
        height: 1px;
        opacity: 0;
    }

    .webapp__categoryitem{
        color: #a12d4e;
        padding: 5px 10px;
        border: #a12d4e solid 1px;
        cursor: pointer;
        margin: 2px;
        font-size: 14px;
        transition: all 0.8s;

        strong{
            font-size: 16px;
        }

        &:hover{
            background-color: rgba(161, 45, 78, 0.30);
        }
    }

    .webapp__categoryitem-selected{
        background-color: rgba(161, 45, 78, 1);
        color: white;

        &:hover{
            background-color: rgba(161, 45, 78, 1);
        }
    }
</style>