<template>
    <div class="webapp__mobile_category"
         :class="{ 'webapp__mobile_category-ce':ceHeadline }">
        <div v-if="content" class="webapp__mobile_category-title">{{ content.category.title }}</div>
        <div v-if="content && content.items.length > 1"
             class="webapp__mobile_categories">
            <div v-for="(item, index) in content.items"
                 @click="selectedItem=item; selectedIndex=index"
                 :id="selectedIndex===index ? 'selectedItem' : ''"
                 class="webapp__mobile_category-bar-selectItem">
                <strong>{{ getCurrentNumber(item.numbers) }}</strong> {{ item.headline }}
            </div>
        </div>

        <div v-if="selectedItem || ceHeadline"
             v-touch:swipe.left="swipeLeft"
             v-touch:swipe.right="swipeRight"
             class="webapp__mobile_category_item">
            <div v-if="!ceHeadline && content.items.length > 1"
                 class="webapp__mobile_category_swipe-left"
                 @click="swipeRight"><i class="fas fa-arrow-alt-circle-left"></i></div>
            <div v-if="!ceHeadline && content.items.length > 1"
                 class="webapp__mobile_category_swipe-right"
                 @click="swipeLeft"><i class="fas fa-arrow-alt-circle-right"></i></div>

            <div class="webapp__mobile_category_item-number">{{ getCurrentNumber(selectedItem.numbers) || ceHeadline}}</div>
            <div class="webapp__mobile_category_item-keyword">{{ selectedItem.headline || ceSubheadline}}</div>
            <div class="webapp__mobile_category_item-text" v-html="ceBodytext || selectedItem.text" />
            <div v-if="selectedItem.linktext && selectedItem.url"
                 class="webapp__mobile_category_item-url">
                <i class="fas fa-external-link-alt"></i> <a :href="selectedItem.url" target="_blank">{{ selectedItem.linktext }}</a>
            </div>

            <div class="webapp__mobile_category-info-more" v-if="getNumbersList.length">
                <div @click="showMore = !showMore" style="cursor:pointer">
                    <i class="fa-solid fa-chart-column"></i> Vorjahreszahlen
                </div>

                <div v-if="showMore" class="webapp__mobile_category-info-more-container">
                    <div v-for="item in getNumbersList">
                        <strong>{{ item.year }}:</strong> {{ item.number}}
                    </div>
                </div>
            </div>

        </div>
        <div class="webapp__mobile_category-bottom"
             v-touch:swipe.left="swipeLeft"
             v-touch:swipe.right="swipeRight">
            <div class="webapp__mobile_category-bottom-img"
                 v-lazy:background-image="`${image}`"></div>
        </div>
    </div>
</template>

<script>

export default {
    name: 'mobileCategoryInNumbers',
    data: () => ({
        selectedItem: false,
        selectedIndex: 0,
        showMore: false,
    }),
    props: {
        content: Object,
        currentyear: Number,
        selected: Number,
        max: Number,
        ceHeadline: String,
        ceSubheadline: String,
        ceBodytext: String,
        ceImage: String,
    },
    mounted(){
        this.start()
    },
    computed: {
        image(){
            return this.content ? `/fileadmin/images/${this.selectedItem ? this.selectedItem.image : this.content.category.image}` : this.ceImage
        },
        getNumbersList(){
            this.showMore = false
            let numbers = this.selectedItem.numbers
            let list = []

            if(numbers && typeof numbers === 'object'){
                let n = this.currentyear - 3
                while (n <= this.currentyear - 1) {
                    if(numbers[n] ){
                        list.push({
                            year: n,
                            number: numbers[n]
                        })
                    }
                    n++
                }
            }
            return list
        }
    },
    methods: {
        start(){
            if(!this.ceHeadline){
                this.selectedItem = this.content.items.length ? this.content.items[0] : false
                this.selectedIndex = 0
            }
        },
        swipeLeft(){
            this.selectedIndex = this.selectedIndex === (this.content.items.length - 1) ? 0 : (this.selectedIndex + 1)
            this.selectedItem = this.content.items[this.selectedIndex]
        },
        swipeRight(){
            this.selectedIndex = this.selectedIndex === 0 ? (this.content.items.length - 1) : (this.selectedIndex - 1)
            this.selectedItem = this.content.items[this.selectedIndex]
        },
        getCurrentNumber(numbers){
            return numbers && typeof numbers === 'object' ? numbers[this.currentyear] : numbers
        },

    },
    watch: {
        content(){
            this.start()
        }
    }
}
</script>

<style lang="scss">

    .webapp__mobile_preload-img{
        width: 1px;
        height: 1px;
        opacity: 0;
    }

    .webapp__mobile_categories{
        display: flex;
        flex-wrap: wrap;
        margin: 0 10px;

        .webapp__mobile_category-bar-selectItem{
            border: 1px solid #a12d4e;
            transition: all 0.7s;
            font-size: 12px;
            padding: 2px 4px;
            margin: 2px;

            strong{
                font-size: 13px;
            }
        }

        #selectedItem{
            background-color: #a12d4e;
            color: white;
        }
    }

    .webapp__mobile_category{
        display: flex;
        flex-direction: column;
        padding-top: 70px;
        padding-bottom: 10px;
        margin-bottom: -70px;

        .webapp__mobile_category-title{
            padding: 20px 15px 10px;
            max-width: 500px;
            margin: 0 auto;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            color: #a12d4e;
            text-align: center;
            text-shadow: 0 0 5px rgba(161, 45, 78, 0.5);
        }

        .webapp__mobile_category_item{
            padding: 10px 15px;
            margin: 15px 20px -25px;
            color: #a12d4e;
            border: 1px solid #a12d4e;
            background-color: white;
            box-shadow: 0 0 5px rgba(161, 45, 78, 0.70);
            z-index: 1;

            .webapp__mobile_category_item-number{
                font-weight: bold;
                font-size: 18px;
            }
            .webapp__mobile_category_item-keyword{
                font-size: 16px;
            }
            .webapp__mobile_category_item-text{
                margin-top: 10px;
                font-size: 14px;
            }

            .webapp__mobile_category_item-url{
                margin-top: 10px;
                font-size: 13px;

                a{
                    text-decoration: none;
                    color: #a12d4e;
                    padding-left: 3px;
                }
            }

            .webapp__mobile_category-info-more{
                margin-top: 10px;
                font-size: 13px;

                .webapp__mobile_category-info-more-container{
                    padding-top: 5px;

                    > div{
                        padding: 2px 17px;
                    }
                }


            }
        }

        .webapp__mobile_category-bottom{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            z-index: 0;

            .webapp__mobile_category-bottom-img{
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                min-height: 200px;

                @media screen and (min-width: 600px) {
                    min-height: 300px;
                }

                &[lazy=loading], &[lazy=error] {
                    background-size: 30px;
                }
            }
        }

        .webapp__mobile_category_swipe-left, .webapp__mobile_category_swipe-right{
            position: absolute;
            background-color: white;
            margin-top: 10px;
        }

        .webapp__mobile_category_swipe-left{
            left: 10px;
        }

        .webapp__mobile_category_swipe-right{
            right: 10px;
        }

        &.webapp__mobile_category-ce{
            margin-bottom: 0;
            padding-top: 0;

            .webapp__mobile_category-bottom-img{
                min-height: 300px;
            }
        }

        @media screen and (min-width: 750px) {
            width: 100%;
            max-width: 600px;
            position: relative;
            margin: 0 auto;
        }
    }
</style>