.webapp__mobile_preload-img {
  width: 1px;
  height: 1px;
  opacity: 0;
}
.webapp__mobile_categories {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
}
.webapp__mobile_categories .webapp__mobile_category-bar-selectItem {
    border: 1px solid #a12d4e;
    transition: all 0.7s;
    font-size: 12px;
    padding: 2px 4px;
    margin: 2px;
}
.webapp__mobile_categories .webapp__mobile_category-bar-selectItem strong {
      font-size: 13px;
}
.webapp__mobile_categories #selectedItem {
    background-color: #a12d4e;
    color: white;
}
.webapp__mobile_category {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  padding-bottom: 10px;
  margin-bottom: -70px;
}
.webapp__mobile_category .webapp__mobile_category-title {
    padding: 20px 15px 10px;
    max-width: 500px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #a12d4e;
    text-align: center;
    text-shadow: 0 0 5px rgba(161, 45, 78, 0.5);
}
.webapp__mobile_category .webapp__mobile_category_item {
    padding: 10px 15px;
    margin: 15px 20px -25px;
    color: #a12d4e;
    border: 1px solid #a12d4e;
    background-color: white;
    box-shadow: 0 0 5px rgba(161, 45, 78, 0.7);
    z-index: 1;
}
.webapp__mobile_category .webapp__mobile_category_item .webapp__mobile_category_item-number {
      font-weight: bold;
      font-size: 18px;
}
.webapp__mobile_category .webapp__mobile_category_item .webapp__mobile_category_item-keyword {
      font-size: 16px;
}
.webapp__mobile_category .webapp__mobile_category_item .webapp__mobile_category_item-text {
      margin-top: 10px;
      font-size: 14px;
}
.webapp__mobile_category .webapp__mobile_category_item .webapp__mobile_category_item-url {
      margin-top: 10px;
      font-size: 13px;
}
.webapp__mobile_category .webapp__mobile_category_item .webapp__mobile_category_item-url a {
        text-decoration: none;
        color: #a12d4e;
        padding-left: 3px;
}
.webapp__mobile_category .webapp__mobile_category_item .webapp__mobile_category-info-more {
      margin-top: 10px;
      font-size: 13px;
}
.webapp__mobile_category .webapp__mobile_category_item .webapp__mobile_category-info-more .webapp__mobile_category-info-more-container {
        padding-top: 5px;
}
.webapp__mobile_category .webapp__mobile_category_item .webapp__mobile_category-info-more .webapp__mobile_category-info-more-container > div {
          padding: 2px 17px;
}
.webapp__mobile_category .webapp__mobile_category-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 0;
}
.webapp__mobile_category .webapp__mobile_category-bottom .webapp__mobile_category-bottom-img {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 200px;
}
@media screen and (min-width: 600px) {
.webapp__mobile_category .webapp__mobile_category-bottom .webapp__mobile_category-bottom-img {
          min-height: 300px;
}
}
.webapp__mobile_category .webapp__mobile_category-bottom .webapp__mobile_category-bottom-img[lazy=loading], .webapp__mobile_category .webapp__mobile_category-bottom .webapp__mobile_category-bottom-img[lazy=error] {
        background-size: 30px;
}
.webapp__mobile_category .webapp__mobile_category_swipe-left, .webapp__mobile_category .webapp__mobile_category_swipe-right {
    position: absolute;
    background-color: white;
    margin-top: 10px;
}
.webapp__mobile_category .webapp__mobile_category_swipe-left {
    left: 10px;
}
.webapp__mobile_category .webapp__mobile_category_swipe-right {
    right: 10px;
}
.webapp__mobile_category.webapp__mobile_category-ce {
    margin-bottom: 0;
    padding-top: 0;
}
.webapp__mobile_category.webapp__mobile_category-ce .webapp__mobile_category-bottom-img {
      min-height: 300px;
}
@media screen and (min-width: 750px) {
.webapp__mobile_category {
      width: 100%;
      max-width: 600px;
      position: relative;
      margin: 0 auto;
}
}

