.webapp__landingpage-mobile{padding:25px 15px;background-color:#a12d4e;color:white;margin-bottom:-70px}.webapp__landingpage-mobile .webapp__landingpage-mobile_header{color:white;font-size:25px;text-align:center;font-weight:bold;margin-bottom:15px}.webapp__landingpage-mobile .webapp__landingpage-mobile_categories{display:flex;flex-wrap:wrap;justify-content:space-between;max-width:600px;margin:0 auto}.webapp__landingpage-mobile .webapp__landingpage-mobile_category{width:100%;border:white solid 1px;padding:5px;margin-top:10px;font-size:14px;text-align:center;color:white;text-decoration:none}.webapp__landingpage-mobile .webapp__landingpage-mobile_infotext{width:100%;text-align:center;font-size:13px;margin-top:25px;opacity:0.7}

