body{height:100vh;overflow:auto}.adminTool{display:flex;height:100%;margin-bottom:22px}.adminTool .adminTool__categoryList{width:280px !important}.adminTool .adminTool__category{width:calc(100% - 280px)}.adminTool__copyright{position:fixed;bottom:0;width:100%;z-index:10000}

