.item[data-v-8716084e]{font-weight:bold;border-bottom:1px solid #6b6b6b;padding-bottom:10px;padding-left:10px;padding-top:10px;transition:all 0.5s;cursor:pointer}.item[data-v-8716084e]:hover{background-color:#e8e8e8}.ghost[data-v-8716084e]{opacity:0.7;background:#c8fbcf}

