<template>
    <v-navigation-drawer permanent color="grey lighten-3">
        <v-list-item>
            <v-list-item-content>
                <v-list-item-title class="title">Schwaz in Zahlen</v-list-item-title>
                <v-list-item-subtitle>Kategorien</v-list-item-subtitle>
            </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>
        <div class="pa-3 text-center">
            <v-btn color="primary" elevation="4" x-small @click="$emit('modalEdit')" >Kategorie hinzufügen</v-btn>
            <v-btn color="primary" elevation="4" x-small @click="openModalSort">
                <v-icon small color="white">fas fa-sort</v-icon>
            </v-btn>
        </div>
        <v-divider></v-divider>
        <v-list dense>
            <v-list-item-group group="categoryList"
                               color="primary"
                               :key="categoryList.length + updateData"
                               v-model="selectedCategory" >
                <v-list-item v-for="(category, index) in categoryList"
                             :key="category.uid" >
                    <v-list-item-avatar>
                        <v-img :src="`/fileadmin/images/${category.image}`" />
                    </v-list-item-avatar>
                    <v-list-item-content>
                        <v-list-item-title class="subtitle-2 text-uppercase">
                            {{ category.title }}
                        </v-list-item-title>
                    </v-list-item-content>
                    <v-list-item-action v-if="index === selectedCategory">
                        <v-icon color="primary" dense small
                                @click="editCategory(category, index)">far fa-edit</v-icon>
                    </v-list-item-action>
                </v-list-item>
            </v-list-item-group>
        </v-list>
    </v-navigation-drawer>
</template>

<script>

    export default {
        name: 'CategoryList',
        data(){
            return {
                selectedCategory: null,
            }
        },
        props: {
            categoryList: Array,
            updateData: Number,
        },
        methods: {
            editCategory(category, index){
                this.$emit('modalEdit', category)
                setTimeout(()=>{
                    this.selectedCategory = index
                })
            },
            openModalSort(){
                this.$emit('modalSort', {
                    list: JSON.parse(JSON.stringify(this.categoryList)),
                    table: 1,
                })
                this.selectedCategory=null
            },
        },
        watch: {
            selectedCategory(update){
                if(typeof update === "number"){
                    document.getElementById('adminApp').scrollIntoView({ behavior: 'smooth', block: 'start' });
                }
            }
        }
    }
</script>

<style lang="scss">
    .adminTool__Category-title{
        font-weight: bold;
    }

</style>
