<template>
    <v-dialog v-model="display"
              persistent
              max-width="668">
        <v-card>
            <v-card-title class="subtitle-1 text-uppercase font-weight-bold">
                Kategorie {{ status }}
            </v-card-title>
            <v-card-text>
                <v-form v-model="form"
                        ref="form"
                        :disabled="loading">
                    <v-text-field v-model="formData.title"
                                  :rules="rules.title"
                                  :counter="25"
                                  filled dense clearable
                                  label="Kategoriename" />
                    <v-alert v-model="alert" color="primary" dark>{{ alertLabel }}</v-alert>
                    <v-btn v-if="formData.uid && typeof formData.image === 'string'"
                           color="primary" x-small block
                           :disabled="loading"
                           @click="formData.image={}" >Bild löschen</v-btn>
                    <croppa v-else
                            v-model="formData.image"
                            prevent-white-space
                            :remove-button-size="22"
                            accept=".jpg,.jpeg"
                            initial-size="cover"
                            initial-position="center"
                            :file-size-limit="dimensions.fileSize"
                            :quality="1"
                            :placeholder="`Bild hinzufügen (${dimensions.width} x ${dimensions.height} Pixel)`"
                            placeholder-color="#000"
                            :placeholder-font-size="18"
                            canvas-color="rgba(0, 0, 0, 0.06)"
                            :height="dimensions.height"
                            :width="dimensions.width"
                            @file-choose="alert=false"
                            @file-type-mismatch="onFileTypeMismatch"
                            @file-size-exceed="onFileSizeExceed" />
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-btn color="black"
                       text
                       :disabled="loading"
                       @click="$emit('closeModal')">
                    abbrechen
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn v-if="editCategory"
                       color="red darken-4" text
                       :disabled="loading"
                       @click="validate('delete')">
                    löschen
                </v-btn>
                <v-btn color="primary" text
                       :loading="loading"
                       @click="validate(editCategory ? 'edit':'add')">
                    {{ status }}
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: 'ModalEdit',
        data: () => ({
            display: true,
            loading: false,
            alert: false,
            alertLabel: '',
            dimensions: {
                width: 620,
                height: 480,
                fileSize: 900000, //900kb
            },
            form: false,
            formData: {
                title: '',
                image: {},
            },
            rules: {
                title: [
                    v => !!v || 'Kategoriename fehlt',
                    v => !!v && v.length <= 25 || 'zu viele Zeichen!',
                ],
            },
        }),
        props: {
            urlCategory: String,
            editCategory: [Boolean, Object]
        },
        mounted() {
            if(this.editCategory){
                this.formData = this.editCategory
            }
        },
        computed: {
            status(){
                return this.editCategory ? 'bearbeiten' : 'hinzufügen'
            }
        },
        methods: {
            validate(status){
                if(typeof this.formData.image === 'object' && !this.formData.image.imageSet){
                    this.$refs.form.validate()
                    this.alert = true
                    this.alertLabel = "Bild fehlt!"
                }else{
                    if(this.$refs.form.validate()){
                        let category = Object.assign({}, this.formData)
                        if(typeof this.formData.image === 'object'){
                            category.addImage = this.generateImage(category.image)
                            delete category.image
                        }

                        this.loading = true
                        this.$axios
                            .post(this.urlCategory, {
                                action: status,
                                category: category
                            })
                            .then(result => {
                                this.$emit('updateCategoryList', result.data)
                                this.loading = false
                            })
                    }
                }
            },
            onFileTypeMismatch () {
                console.error("FALSCHES FORMAT")
            },
            onFileSizeExceed () {
                this.alertLabel = "Dateigröße überschritten - max. 900kb erlaubt"
                this.alert = true
            },
            generateImage(logo){
                return logo.generateDataUrl ? logo.generateDataUrl('.jpg', 0.95) : ''
            },
        }
    }
</script>
