<template>
    <div v-if="loading" class="webapp__loading"></div>
    <div v-else-if="content.categories"
         class="webapp__project">
        <Header :content="content"
                :hasSlot="!!this.$slots.default"
                :root="!!root"
                :selected="selected"  />
        <AppContent :content="content"
                    :hasSlot="!!this.$slots.default"
                    :root="!!root"
                    :displaySlot="displaySlot"
                    :selected="selected">
            <slot />
        </AppContent>
    </div>
    <div v-else>
        Keine Daten vorhanden!
    </div>
</template>

<script>
    import Header from "./template/Header";
    import AppContent from "./template/Content";

    export default {
        name: 'ProjektInZahlen',
        components: {
            Header,
            AppContent
        },
        data: () => ({
            loading: true,
            content: {},
            selected: 0,
            displaySlot: true,
        }),
        props: {
            urlApi: String,
            root: Number,
        },
        mounted() {
            this.$myBus.$on("::selectedCategory::", this.update_selectedCategory)
            this.getData()

            const urlParams = new URLSearchParams(window.location.search)
            window.noHeader = urlParams.has('no-header')
        },
        methods: {
            getData(){
                this.$axios
                    .get(this.urlApi)
                    .then(result => {
                        this.loading = false
                        this.content = result.data
                    })
            },
            update_selectedCategory(index){
                this.selected = index
                this.displaySlot = false
            }
        }
    }
</script>

<style lang="scss">

    .webapp__loading {
        border: 16px solid #cacaca;
        border-radius: 50%;
        border-top: 16px solid #a12d4e;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
        margin: 100px auto;
    }

    /* Safari */
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .webapp__project{
        min-height: calc(100% - 90px);

        @media screen and (max-width: 999px) {
            height: calc(100% - 80px);
        }
    }
</style>
