<template>
    <div v-if="formData">
        <div class="subtitle-1 text-uppercase font-weight-bold mb-3">
            Item {{ status }}
        </div>
        <v-form v-model="form"
                ref="form"
                :disabled="loading">

            <v-container class="pa-0">
                <v-row>
                    <v-col cols="12" md="4">
                        <v-select v-model="selectedYear"
                                  :items="Object.keys(formData.numbers)"
                                  label="Jahr" />
                    </v-col>

                    <v-col cols="12" md="8">
                        <v-text-field v-model="formData.numbers[selectedYear]"
                                      :key="selectedYear"
                                      :rules="rules.numbers"
                                      :counter="18"
                                      filled dense clearable
                                      label="Zahlen" />
                    </v-col>
                </v-row>
            </v-container>

            <v-text-field v-model="formData.headline"
                          :rules="rules.headline"
                          :counter="25"
                          filled dense clearable
                          label="Überschrift" />

            <v-textarea v-model="formData.text"
                        :rules="rules.text"
                        :counter="100"
                        filled dense
                        label="kurzer Text" />

            <v-text-field v-model="formData.linktext"
                          :rules="rules.linktext"
                          :counter="25"
                          :disabled="!formData.url"
                          filled dense clearable
                          style="width: 40%; float: right; margin-left: 20px;"
                          label="Link Text" />

            <v-text-field v-model="formData.url"
                          :rules="rules.url"
                          :counter="100"
                          placeholder="https://www.example.com/"
                          filled dense clearable
                          label="Link" />

            <v-alert v-model="alert" color="primary" dark>{{ alertLabel }}</v-alert>
            <v-btn v-if="typeof formData.image === 'string'"
                   color="primary" x-small block
                   :disabled="loading"
                   @click="formData.image={}" >Bild löschen</v-btn>
            <croppa v-else
                    v-model="formData.image"
                    prevent-white-space
                    :remove-button-size="22"
                    accept=".jpg,.jpeg"
                    initial-size="cover"
                    initial-position="center"
                    :file-size-limit="dimensions.fileSize"
                    :quality="1"
                    :placeholder="`Bild hinzufügen (${dimensions.width} x ${dimensions.height} Pixel)`"
                    placeholder-color="#000"
                    :placeholder-font-size="18"
                    canvas-color="rgba(0, 0, 0, 0.06)"
                    :height="dimensions.height"
                    :width="dimensions.width"
                    @file-choose="alert=false"
                    @file-type-mismatch="onFileTypeMismatch"
                    @file-size-exceed="onFileSizeExceed" />

            <div class="adminTool__category-itemBtns">
                <v-btn v-if="edit"
                       small outlined
                       color="red darken-4"
                       :disabled="loading"
                       @click="validate('delete')">
                    Item löschen
                </v-btn>
                <v-btn color="primary"
                       small
                       :loading="loading"
                       @click="validate(edit ? 'edit':'add')">
                    {{ status }}
                </v-btn>
            </div>
        </v-form>
    </div>
</template>

<script>
    export default {
        name: 'CategoryItem',
        data: () => ({
            loading: false,
            alert: false,
            alertLabel: '',
            dimensions: {
                width: 620,
                height: 480,
                fileSize: 900000, //900kb
            },
            form: false,
            formData: null,
            selectedYear: 2020,
            rules: {
                // numbers: [
                //     v => !!v || 'Zahlen fehlen',
                //     v => !!v && v.length <= 18 || 'zu viele Zeichen!',
                // ],
                headline: [
                    v => !!v || 'Überschrift fehlt',
                    v => !!v && v.length <= 25 || 'zu viele Zeichen!',
                ],
                link: [
                    v => v.length <= 100 || 'zu viele Zeichen!',
                ],
                linktext: [
                    v => v.length <= 25 || 'zu viele Zeichen!',
                ],
                text: [
                    //v => !!v || 'Text fehlt',
                    v => (!!v && v.length <= 100 ) || !v || 'zu viele Zeichen!',
                ],
            },
        }),
        props: {
            item: Object,
            edit: Boolean,
            selectedCategory: Number,
            urlCategoryItem: String,
        },
        mounted(){
            this.formData = Object.assign({}, this.item)
            this.mapNumbers()
        },
        computed: {
            status(){
                return this.edit ? 'bearbeiten' : 'hinzufügen'
            }
        },
        methods: {
            validate(status){
                if(typeof this.formData.image === 'object' && !this.formData.image.imageSet){
                    this.$refs.form.validate()
                    this.alert = true
                    this.alertLabel = "Bild fehlt!"
                }else{
                    if(this.$refs.form.validate()){
                        let categoryItem = Object.assign({}, this.formData)
                        categoryItem.category = this.selectedCategory
                        if(typeof this.formData.image === 'object'){
                            categoryItem.addImage = this.generateImage(categoryItem.image)
                            delete categoryItem.image
                        }

                        if(typeof this.formData.numbers === 'object'){
                            categoryItem.numbers = JSON.stringify(this.formData.numbers)
                        }

                        this.loading = true
                        this.$axios
                            .post(this.urlCategoryItem, {
                                action: status,
                                item: categoryItem
                            })
                            .then(result => {
                                this.$myBus.$emit('::updateCategoryItemList::', result.data)
                                this.loading = false
                                if(!this.edit || status === "delete"){
                                    this.$emit("reset")
                                }
                            })

                    }
                }
            },
            onFileTypeMismatch () {
                console.error("FALSCHES FORMAT")
            },
            onFileSizeExceed () {
                this.alertLabel = "Dateigröße überschritten - max. 900kb erlaubt"
                this.alert = true
            },
            generateImage(logo){
                return logo.generateDataUrl ? logo.generateDataUrl('.jpg', 0.95) : ''
            },
            mapNumbers(){

                if(typeof this.formData.numbers !== 'object'){
                    this.formData.numbers = {
                        2020: this.formData.numbers.toString(),
                    }
                }
                if(!this.formData.numbers){
                    this.formData.numbers = {}
                }

                let currentYear = new Date().getFullYear()
                let lastYear = currentYear - 1

                if(!this.formData.numbers[lastYear]){
                    this.formData.numbers[lastYear] = ''
                }
                if(!this.formData.numbers[currentYear]){
                    this.formData.numbers[currentYear] = ''
                }

                this.selectedYear = lastYear.toString()
            }
        },
        watch: {
            item(update){
                this.formData = Object.assign({}, update)
                this.mapNumbers()
                this.alert = false
            }
        }
    }
</script>

<style lang="scss">
    .adminTool__category-itemBtns{
        margin: 20px 0;
        display: flex;
        justify-content: space-between;
    }
</style>
