<template>
    <div v-if="category"
         class="adminTool__category-details">
        <div class="adminTool__category-nav">
            <v-img :src="`/fileadmin/images/${typeof selectedItem === 'number' ? filterCategoryItems[selectedItem].image : category.image}`"
                   height="310px"
                   width="400px" />
            <v-navigation-drawer permanent
                                 color="grey lighten-2"
                                 width="400px">
                <v-list-item>
                    <v-list-item-content>
                        <v-list-item-title class="title">{{category.title}}</v-list-item-title>
                        <v-list-item-subtitle>{{ subtitle }}</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
                <v-divider></v-divider>
                <div class="pa-3 text-center">
                    <v-btn color="primary"
                           x-small
                           :disabled="filterCategoryItems.length >= 14"
                           @click="addItem" >Item hinzufügen</v-btn>
                    <v-btn color="primary" elevation="4" x-small @click="openModalSort">
                        <v-icon small color="white">fas fa-sort</v-icon>
                    </v-btn>
                </div>
                <v-divider></v-divider>
                <v-list dense>
                    <v-list-item-group group="categoryList"
                                       color="primary"
                                       :key="filterCategoryItems.length + updateData"
                                       v-model="selectedItem"  >
                        <v-list-item v-for="item in filterCategoryItems"
                                     :key="item.uid" >
                            <v-list-item-avatar>
                                <v-img :src="`/fileadmin/images/${item.image}`" />
                            </v-list-item-avatar>
                            <v-list-item-content>
                                <v-list-item-title class="subtitle-2">{{ item.headline }}</v-list-item-title>
                                <v-list-item-subtitle>{{ getNumber(item.numbers) }}</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list-item-group>
                </v-list>
            </v-navigation-drawer>
        </div>
        <CategoryItem v-if="categoryItem"
                      :item="categoryItem"
                      :edit="editItem"
                      :selectedCategory="category.uid"
                      :urlCategoryItem="urlCategoryItem"
                      @reset="reset"
                      class="adminTool__category-item" />
    </div>
</template>

<script>
    export default {
        name: 'Category',
        components: {
            CategoryItem: ()=> import("./CategoryItem"),
        },
        data: () => ({
            selectedItem: null,
            categoryItem: null,
            editItem: false,
        }),
        props: {
            category: [Boolean, Object],
            categoryItems: Array,
            urlCategoryItem: String,
            updateData: Number,
        },
        computed: {
            filterCategoryItems(){
                return this.categoryItems.filter(item=>item.category===this.category.uid)
            },
            subtitle(){
                let selected = this.selectedItem
                if(typeof this.selectedItem === 'number'){
                    let item = this.categoryItems[selected]
                    return `${item.numbers} ${item.headline}`
                }else{
                    let items = this.filterCategoryItems.length
                    return `${items ? items : 'keine' } Item${items > 1 || !items ? 's' : '' } ${items ? '' : 'vorhanden' }`
                }
            }
        },
        methods: {
            addItem(){
                this.selectedItem = null
                this.editItem = false

                this.$nextTick(()=>{
                    this.categoryItem = {
                        numbers: '',
                        headline: '',
                        text: '',
                        url: '',
                        linktext: '',
                        image: {},
                    }
                })
            },
            reset(){
                this.selectedItem = null
                this.editItem = false
                this.categoryItem = null
            },
            openModalSort(){
                this.$emit('modalSort', {
                    list: JSON.parse(JSON.stringify(this.filterCategoryItems)),
                    table: 2,
                })
                this.reset()
            },
            getNumber(numbers){
                let currentYear = new Date().getFullYear()
                let lastYear = currentYear - 1
                let numberLastYear = ''

                if(numbers && typeof numbers === 'object'){

                    try {
                        if(numbers[lastYear - 1]){
                            numberLastYear = `${lastYear - 1}: ${numbers[lastYear - 1]}`
                        }
                        if(numbers[lastYear]){
                            numberLastYear = `${lastYear}: ${numbers[lastYear]}`
                        }
                        if(numbers[currentYear]){
                            numberLastYear = `${currentYear}: ${numbers[currentYear]}`
                        }

                    } catch (e) {
                        console.log("numbers", numbers)
                        numberLastYear = `2020: ${numbers}`
                    }

                }else{
                    numberLastYear = numbers
                }

                return numberLastYear
            }
        },
        watch: {
            selectedItem(item){
                if(typeof item === "number"){
                    document.getElementById('adminApp').scrollIntoView({ behavior: 'smooth', block: 'start' });
                    this.categoryItem = this.filterCategoryItems[item]
                }else{
                    this.categoryItem = null
                }
                this.editItem = typeof item === "number"
            },
            category(){
                this.reset()
            }
        }
    }
</script>

<style lang="scss">
    .adminTool__category-details{
        height: calc(100% - 310px);
        display: flex;
    }

    .adminTool__category-item{
        margin-left: 40px;
        padding-top: 30px;
        width: 620px;
    }

</style>
