<template>
    <v-app>
        <div class="adminTool">
            <CategoryList class="adminTool__categoryList"
                          ref="categoryList"
                          :categoryList="categoryList"
                          :updateData="updateData"
                          @modalSort="open_modalSort"
                          @modalEdit="open_modalEdit" />
            <div class="adminTool__category">
                <Category :category="selectedCategory()"
                          ::updateData="updateData"
                          :categoryItems="categoryItemList"
                          :urlCategoryItem="urlCategoryItem"
                          @modalSort="open_modalSort" />
            </div>
        </div>
        <ModalEdit v-if="modalEdit"
                   :urlCategory="urlCategory"
                   :editCategory="editCategory"
                   @updateCategoryList="updateCategoryList"
                   @closeModal="modalEdit=false" />
        <ModalSort ref="modalSort"
                   :url="urlSort"
                   @updateCategoryList="updateCategoryList"
                   @updateCategoryItemList="updateCategoryItemList" />
        <v-system-bar class="adminTool__copyright" dark
                      color="grey darken-2">
            Version: 3.0 | Entwickler: David Außerlechner
        </v-system-bar>
    </v-app>
</template>

<script>
    export default {
        name: 'AdminTool',
        components: {
            Category:       ()=> import("./categoryDetails/Category"),
            CategoryList:   ()=> import("./category/CategoryList"),
            ModalEdit:      ()=> import("./category/ModalEdit"),
            ModalSort:      ()=> import('./ModalSort'),
        },
        data(){
            return {
                modalEdit: false,
                categoryList: [],
                categoryItemList: [],
                editCategory: false,
                updateData: 1,
            }
        },
        props: {
            urlCategory: String,
            urlCategoryItem: String,
            urlSort: String,
            categories: Array,
            categoryItems: Array,
        },
        mounted(){
            window.updateData = 1
            this.updateCategoryList(this.categories)
            this.updateCategoryItemList(this.categoryItems)
            this.$myBus.$on("::updateCategoryItemList::", this.updateCategoryItemList)
        },
        methods: {
            updateCategoryList(list){
                this.categoryList = list
                this.modalEdit = false
                this.updateData += 1
            },
            updateCategoryItemList(list){
                this.categoryItemList = list
                this.updateData += 1
            },
            open_modalEdit(category){
                this.editCategory = category ? Object.assign({}, category) : false
                this.modalEdit = true
            },
            open_modalSort(data){
                this.$refs.modalSort.table = data.table
                this.$refs.modalSort.list = data.list
                this.$refs.modalSort.display = true
            },
            selectedCategory(){
                let component = this.$refs.categoryList
                return component ? this.categoryList[component.selectedCategory] : false
            }
        }
    }
</script>

<style lang="scss">

    body{
        height: 100vh;
        overflow: auto;
    }

    .adminTool{
        display: flex;
        height: 100%;
        margin-bottom: 22px;

        .adminTool__categoryList{
            width: 280px !important;
        }
        .adminTool__category{
            width: calc(100% - 280px);
        }
    }

    .adminTool__copyright{
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 10000;
    }
</style>
