<template>
    <v-dialog v-model="display"
              persistent
              max-width="668">
        <v-card>
            <v-card-title class="subtitle-1 text-uppercase font-weight-bold">Reihenfolge</v-card-title>
            <v-card-text>
                <draggable :list="list"
                           :group="`table_${table}`"
                           ghost-class="ghost"
                           :disabled="loading">
                        <div class="item" v-for="item in list" :key="item.uid">
                            {{ item.title ? item.title : item.headline }}
                        </div>
                </draggable>
            </v-card-text>
            <v-card-actions>
                <v-btn color="black"
                       text
                       :disabled="loading"
                       @click="display=false">abbrechen</v-btn>
                <v-spacer></v-spacer>
                <v-btn color="primary"
                       text
                       @click="updateData"
                       :loading="loading">speichern</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    name: 'ModalEdit',
    components: {
        draggable: ()=> import('vuedraggable')
    },
    data: () => ({
        display: false,
        loading: false,
        selectedItem: null,
        list: [],
        table: null,
    }),
    props: {
        url: String,
    },
    methods: {
        updateData(){
            this.loading = true

            let updateList = []
            this.list.forEach((item, index)=>{
                updateList.push({
                    uid: item.uid,
                    sort: index + 1
                })

            })

            if(updateList.length){
                this.$axios
                    .post(this.url, {
                        list: updateList,
                        table: this.table
                    })
                    .then(result => {
                        this.$emit(this.table === 1 ? 'updateCategoryList' : 'updateCategoryItemList', result.data)
                        this.loading = false
                        this.display = false
                    })
            }
        },
    },
}
</script>

<style lang="scss" scoped>

.item{
    font-weight: bold;
    border-bottom: 1px solid #6b6b6b;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
    transition: all 0.5s;
    cursor: pointer;

    &:hover{
        background-color:#e8e8e8;
    }
}
.ghost {
    opacity: 0.7;
    background: #c8fbcf;
}
</style>