.webapp__header{
    padding: 30px 10px 0;
    background-color: #e5e5e5;
    height: 90px;
    border-top: 3px solid #a12d4e;
    transition: .5s;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    margin: 0;
}

.webapp__logo{
    position: relative;
    float: left;
    width: 168px;
    height: 40px;
    background-image: url('../images/schwaz_logo.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.webapp__header-mobilebar-icon{
    background-image: url('../images/bars-red.svg')
}

.webapp__header_mobile-close-icon{
    background-image: url('../images/close_white.svg')
}

@media screen and (max-width: 999px) {
    .webapp__header{
        height: 80px;
        padding: 20px 10px 0;
    }
}