body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a:active, a:focus {
    outline: none;
}

.webapp__box{
    width: 100%;
    height: 100%;
    max-width: 1850px;
    margin: 0 auto;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.slide-fade-enter-active {
    transition: all .5s ease;
}
.slide-fade-leave-active {
    transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(50px);
    opacity: 0;
}

/* # =================================================================
   # General
   # ================================================================= */

html {
    box-sizing: border-box;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    -moz-tab-size: 4;
    tab-size: 4;
}

*,
::before,
::after {
    background-repeat: no-repeat;
    box-sizing: inherit;
}

::before,
::after {
    text-decoration: inherit;
    vertical-align: inherit;
}

* {
    padding: 0;
    margin: 0;
}

hr {
    overflow: visible;
    height: 0;
}

details,
main {
    display: block;
}

summary {
    display: list-item;
}

small {
    font-size: 80%;
}

[hidden] {
    display: none;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline-width: 0;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
}

pre {
    font-size: 1em;
}

b,
strong {
    font-weight: bolder;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}