<template>
    <div class="webapp__content" :style="{ marginTop: noHeader ? '0' : '90px'}">
        <div class="webapp__box">
            <div v-if="!isMobile" class="webapp_content_menu">
                <mainMenu :categories="content.categories"
                          :hasSlot="hasSlot"
                          :root="root"
                          :currentyear="content.currentyear"
                          :selected="selected" />
            </div>
            <main :class="isMobile ? ( mobileDisplayCategories ? '' : 'mobileLandingpage') : 'desktopMain'"
                  v-lazy:background-image="!isMobile && !hasSlot ? `/fileadmin/images/${overrideImage ? overrideImage : selectedContent.category.image}`:''">
                <slot v-if="(defaultSlot || root ) && displaySlot && !mobileDisplayCategories" />
                <template v-if="isMobile && root" >
                    <LandingPageMobile :categories="content.categories"
                                       :currentyear="content.currentyear"
                                       @mobileScrollTo="scrollTo" />
                    <mobileCategoryInNumbers v-show="mobileDisplayCategories"
                                             v-for="(category, index) in content.categories"
                                             :key="index"
                                             :id="`cat_${index}`"
                                             :currentyear="content.currentyear"
                                             :content="{ category, items: filterCategoryItems(category.uid) }" />
                    <div v-if="mobileDisplayCategories" class="mobileKategories"></div>
                </template>
                <categoryInNumbers v-else-if="!displaySlot"
                                   :currentyear="content.currentyear"
                                   :content="selectedContent" />
            </main>
        </div>
    </div>
</template>

<script>
    import isMobile from "../../mixins/isMobile";

    export default {
        name: 'Header',
        mixins: [ isMobile ],
        components: {
            mainMenu: () => import('../menu/MainMenu'),
            categoryInNumbers: ()=> import('../categoryDetails/categoryInNumbers'),
            mobileCategoryInNumbers: ()=> import('../categoryDetails/mobileCategoryInNumbers'),
            LandingPageMobile: ()=> import('../template/LandingPageMobile'),
        },
        props: {
            content: Object,
            currentyear: Number,
            selected: Number,
            hasSlot: Boolean,
            displaySlot: Boolean,
            root: Boolean,
        },
        data: () => ({
            overrideImage: false,
            mobileDisplayCategories: false,
        }),
        mounted() {
            this.$myBus.$on("::overrideBGimage::", this.overrideBGimage)
            this.$myBus.$on("::scrollTo::", this.scrollTo)
        },
        computed: {
            defaultSlot(){
                return !!this.$slots.default
            },
            selectedContent(){
                let category = this.content.categories[this.selected]
                let items = this.filterCategoryItems(category.uid)
                return { category,  items }
            },
            noHeader: ()=>  window.noHeader
        },
        methods: {
            filterCategoryItems(categoryUID){
                return this.content.categoryItems.filter(items=>items.category===categoryUID)
            },
            overrideBGimage(newImage){
                this.overrideImage = newImage
            },
            scrollTo(id){
                this.mobileDisplayCategories = true
                this.$nextTick(()=> document.getElementById(id).scrollIntoView({ behavior: 'smooth', block: 'start' }) )
            }
        }
    }
</script>

<style lang="scss">

    .webapp__content{
        display: flex;
        width: 100%;
        height: 100vh;

        .webapp__box{
            display: flex;
        }

        .webapp_content_menu{
            padding: $mainContentTop 20px 20px;
            width: 40%;
            min-width: 300px;
            max-width: 480px;
            height: 100%;

            @media screen and (max-width: 1200px) {
                width: 260px;
                padding-right: 8px;
                min-width: unset;
                max-width: unset;
            }
        }

        main{
            width: 100%;

            .frame-default{
                margin-top: 30px;
                padding: 15px;

                header{
                    color: #a12d4e;
                    margin-bottom: 10px;
                }

                a{
                    text-decoration: none;
                    font-weight: bold;
                    transition: all 0.7s;
                    color: black;

                    &:hover {
                        color: #a12d4e;
                    }
                }

                ul{
                    margin-left: 17px;
                }
            }
        }

        main.desktopMain{
            background-size: cover;
            background-repeat: no-repeat;
            min-height: calc(100vh - 90px);
            transition: all 0.7s;

            &[lazy=loading]{
                background-size: 10px;
            }
        }

        .mobileLandingpage{
            background-color: #a12d4e;
            color: white !important;
            background-image: unset !important;

            header{
                color: white !important;
            }

            .frame-default{
                margin-top: 0;

                .ce-gallery{
                    width: 100%;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }

        .mobileKategories{
            height: 50vh;
            width: 100%;
        }


        @media screen and (max-width: 999px) {
            margin-top: 80px;
            height: unset;
        }
    }
</style>