<template>
    <header class="webapp__header" v-if="!noHeader">
        <div class="webapp__box">
            <a href="/" class="webapp__logo"></a>

            <div v-if="isMobile"
                 @click="displayMobileMenu=true"
                 class="webapp__header-mobilebar">
                <div class="webapp__header-mobilebar-icon"></div>
            </div>

            <transition name="fade">
                <div v-if="displayMobileMenu"
                     @click="displayMobileMenu=false"
                     class="webapp__header_mobile"></div>
            </transition>

            <transition name="slide-fade">
                <div v-if="displayMobileMenu" class="webapp__header_mobile-content">
                    <div @click="displayMobileMenu=false" class="webapp__header_mobile-close">
                        <div class="webapp__header_mobile-close-icon"></div>
                    </div>
                    <mainMenu class="webapp__header_mobile-menu"
                              @closeMobileMenu="displayMobileMenu=false"
                              :selected="selected"
                              :root="root"
                              :hasSlot="hasSlot"
                              :currentyear="content.currentyear"
                              :categories="content.categories" />
                </div>
            </transition>
        </div>
    </header>
</template>

<script>
    import isMobile from "../../mixins/isMobile";

    export default {
        name: 'Header',
        mixins: [ isMobile ],
        components: {
            mainMenu: () => import('../menu/MainMenu'),
        },
        props: {
            content: Object,
            selected: Number,
            hasSlot: Boolean,
            root: Boolean,
        },
        data(){
            return {
                displayMobileMenu: false
            }
        },
        computed: {
            noHeader: ()=>  window.noHeader
        }
    }
</script>

<style lang="scss">

    .webapp__header{
        width: 100%;
        box-shadow: 0 -7px 17px rgba(0, 0, 0, 0.35);

        .webapp__header-mobilebar{
            display: flex;
            flex-direction: row-reverse;

            .webapp__header-mobilebar-icon{
                width: 40px;
                height: 40px;
                margin-right: 15px;
            }
        }

        .webapp__header_mobile{
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .webapp__header_mobile-content{
            position: fixed;
            top: 0;
            right: 0;
            width: 80%;
            height: 100%;
            min-width: 320px;
            max-width: 400px;
            display: flex;

              .webapp__header_mobile-close{
                  background-color: #a12d4e;
                  width: 30px;
                  height: 100%;
                  box-shadow: -7px 0 17px rgba(0, 0, 0, 0.35);
              }

              .webapp__header_mobile-close-icon{
                  width: 25px;
                  height: 25px;
                  background-repeat: no-repeat;
                  margin-left: 6px;
                  margin-top: 10px;
              }

              .webapp__header_mobile-menu{
                  overflow-y: auto;
                  background-color: #e5e5e5;
                  height: 100%;
                  width: calc(100% - 30px);
                  padding: 10px;

                  .webapp__menu-img{
                      display: none;
                  }

                  .webapp_menuItem{
                      height: 40px;

                      .webapp__menu-link{
                          font-size: 15px;
                      }
                  }
              }
          }
    }


</style>