<template>
    <div class="webapp__landingpage-mobile">
        <div class="webapp__landingpage-mobile_header">
            Schwaz in Zahlen
        </div>
        <div class="webapp__landingpage-mobile_categories">
            <div v-for="(category, index) in categories"
                 @click="$emit('mobileScrollTo', `cat_${index}`)"
                 class="webapp__landingpage-mobile_category">
                {{ category.title }}
            </div>
            <div class="webapp__landingpage-mobile_infotext">Zahlen von {{ currentyear }}</div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'landingPageMobile',
        props: {
            categories: Array,
            currentyear: Number,
        },
        mounted() {
            this.mountedScrollTo()
        },
        methods: {
            mountedScrollTo(){
                let cat = window.top.location.hash
                if(cat){
                    cat = cat.split('#')
                    setTimeout(()=>{
                        this.$emit("mobileScrollTo", cat.pop())
                    }, 100)
                }
            },
        }
    }
</script>

<style lang="scss">

    .webapp__landingpage-mobile{
        padding: 25px 15px;
        background-color: #a12d4e;
        color: white;
        margin-bottom: -70px;

        .webapp__landingpage-mobile_header{
            color: white;
            font-size: 25px;
            text-align: center;
            font-weight: bold;
            margin-bottom: 15px;
        }

        .webapp__landingpage-mobile_categories{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 600px;
            margin: 0 auto;
        }

        .webapp__landingpage-mobile_category{
            width: 100%;
            border: white solid 1px;
            padding: 5px;
            margin-top: 10px;
            font-size: 14px;
            text-align: center;
            color: white;
            text-decoration: none;

            //@media screen and (min-width: 600px) {
            //    width: 49%;
            //}
        }

        .webapp__landingpage-mobile_infotext{
            width: 100%;
            text-align: center;
            font-size: 13px;
            margin-top: 25px;
            opacity: 0.7;
        }
    }

</style>