<f:layout name="ProjektInZahlen" />

<f:section name="content">
    <div id="webApp">
        <projekt_in_zahlen url-api="/api" :root="{data.is_siteroot}">
            <f:format.raw>{CONTENT}</f:format.raw>
        </projekt_in_zahlen>
    </div>
</f:section>


